/* Two-column layout */

.col {
    float: left;
    width: 50%;
    margin: auto;
    padding: 0 10px 0px 110px;
    margin-top: 6px;
}

.col2 {
    margin: 0 0 0 0;
    padding: 0 0 0 -10px;
    margin-top: 6px;
}


/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
}


/* vertical line */

.vl {
    position: absolute;
    left: 52%;
    transform: translate(-50%);
    border: 2px solid #ddd;
    height: 45%;
}


/* text inside the vertical line */

.vl-innertext {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    border-radius: 50%;
    padding: 8px 10px;
}

@media screen and (max-width: 750px) {
    .col {
        width: 100%;
        margin-top: 0;
        padding: 0 50px;
    }
    .col2 {
        width: 100%;
        margin-top: 0;
    }
    /* hide the vertical line */
    .vl {
        display: none;
    }
}